h1 {
  color: orangered;
  text-align: center
}

h2 {
  color: orange;
  text-align: center;
}

h3 {
  text-align: center
}

li {
  font-size: 15px;
  line-height: 25px;
  font-style:italic;
}

p {
  text-align: center;
}

body {
  background-color: bisque;
}